/* UTILS */

.bg-black
{
    background-color: #000;
}

/* Jumbotron */

#jumbotron-1
{
    height: 70vh;
    padding-top: 80px;
}
.jumbo-bg
{
    height: 100%;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}